* {
    box-sizing: border-box;
}

#contentstart{
    background-color:#e5e5e5;
    padding: 1vw 0.5vw;
    text-align:center;
    margin-top: 1vw;
}

#contentend {
    background-color:#e5e5e5;
    padding:0.1vw 0.2vw;
    text-align:center;
    margin-top: 1vw;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

.menu a {
    background-color: #e5e5e5;
    padding: 1.1vw;
    margin-top: 2vw;
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}

.main img{
    max-width: 100%;
    height: auto;
}

.main {
    float: left;
    width: 50%;
    padding: 0 2vw;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 30%;
    height: 32.5vw;
    padding: 4vw;
    margin-top: 2vw;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}

#copyright{
    background-color:#e5e5e5;
    text-align:center;
    padding:2vw;
    margin-top:2vw;
}

#computercode{
    background-color: bisque;
    border: 3px solid purple;
    border-radius: 2vw;
    padding: 2vw;
}

#computercode p{
    color: blue;
    border: 0.3vw solid silver;
    border-radius: 1vw;
}

#semantictags{
    border: 3px solid green;
    border-radius: 15px;
}

#semantictags #contentdata{
    border: 3px solid rgb(24, 227, 176);
    border-radius: 18px;
    margin: 2vw;
    padding: 1.5vw;
}

#semantictags #contentdata ul li{
    color: rgb(89, 143, 89);
}

#semantictags #contentexample{
    border: 3px solid rgb(24, 166, 227);
    border-radius: 20px;
    margin: 0vw 2vw 1vw;
    padding: 1.5vw;
}


#semantictags img{
    width: 85vw;
    margin-bottom: 1vw;
    border: 0.4vw solid goldenrod;
    border-radius: 1vw;
}

#semantictags nav{
    background-color: aqua;
    border: 0.4vw solid rgb(24, 22, 22);
    border-radius: 0.91vw;
    margin: 0.5vw;
    padding: 0.8vw;
}

#semantictags nav a{
    text-decoration: none;
    padding: 5vw;
}

#semantictags .section{
    background-color: rgb(240, 236, 221);
    border: 0.4vw solid rgb(32, 194, 65);
    margin: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
}

#semantictags #contentexample p{
    color: rgb(46, 104, 212);
    padding: 0vw 2vw;
}

#semantictags .article{
    background-color: rgb(232, 239, 239);
    border: 0.4vw solid rgb(224, 152, 36);
    margin: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
}

#semantictags figure{
    background-color: rgb(248, 231, 250);
    border: 0.4vw solid rgb(6, 194, 128);
    margin: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
}

#semantictags figure img, figcaption{
    width: 80vw;
    margin: 1vw 1.2vw 1vw;    /*T-R-L-B*/
    text-align: center;
}

#semantictags footer{
    background-color: rgb(233, 246, 216);
    border: 0.4vw solid rgb(186, 32, 194);
    margin: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
}

#semantictags footer a{
    text-decoration: none;
    color: coral;
}

#entities{
    background-color: cornsilk;
    border: 0.5vw solid rgb(213, 24, 24);
    border-radius: 1.2vw;
    padding: 0vw 1vw;
    margin: 0.4vw 1vw;
}

#entities ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.3vw;
    color: rgb(90, 33, 144);
}

#urlscheme {
    background-color: rgb(233, 204, 166);
    border: 0.4vw solid rgb(194, 32, 110);
    margin: 1vw;
    padding: 0.8vw;
    border-radius: 0.9vw;
}

#urlscheme ul li{
    color: rgb(22, 55, 114);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.3vw;
}

#urlscheme img{
    width: 90vw;
    margin: 0vw 1vw;
    border: 0.5vw solid teal;
    border-radius: 1vw;
}

#paragraph {
    border: 0.5vw solid hotpink;
    background-color: rgb(212, 212, 151);
    border-radius: 2vw;
    margin: 0vw 1vw;
    padding: 0.4vw 1vw;

}

#paragraph ul li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.4vw;
    color: rgb(7, 129, 133);
}

#paragraph ul li b{
    color: rgb(220, 78, 62);
    font-family: sans-serif;
    font-size: 2.5vw;
}